.accordion-item {
    background-color: var(--white-color);
    border: 2px solid var(--grey15-color);
    border-radius: 12px;
    padding: 40px;
    width: 771px;
    transition: .3s ease-in-out;

    .accordion-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        h3 {
            font-family: Outfit;
            font-weight: 600;
            font-size: 22px;
            margin-bottom: 24px;
        }

        .accordion-icon {
            width: 40px;
            display: flex;
            justify-content: center;
            border-radius: 6px;
            border: 2px solid var(--grey15-color);
            padding: 8px;
            background-color: var(--orange97-color);
            font-weight: bold;
        }

    }

    .accordion-content {
        width: 621px;
        overflow: hidden;
        font-family: Outfit;
        font-weight: 500;
        font-size: 20px;
        transition: all .4s ease-in-out;
    }

}
/* responsive */
@media (max-width:1919px) {
    .accordion-item {
        border-radius: 10px;
        padding: 34px 30px;
        width: 100%;
        max-width: 620px;

        .accordion-title {

            h3 {
                font-size: 18px;
                margin-bottom: 20px;
            }

            .accordion-icon {
                width: 32px;
                border-radius: 4px;
                padding: 6px;
            }

        }

        .accordion-content {
            width: 504px;
            font-size: 16px;
        }
    }
}

@media (max-width:768px) {
    .accordion-item {
        padding: 33px 24px;
        width: 100%;
        max-width: 358px;

        .accordion-title {

            h3 {
                margin-bottom: 24px;
                margin-right: 10px;
            }
        }

        .accordion-content {
            width: 310px;
        }
    }

}