.benefits-card {
    width: 504px;
    height: 402px;
    border-radius: 12px;
    border: 2px solid var(--grey15-color);
    padding: 80px 50px 50px 50px;
    background-color: var(--white-color);
    box-shadow: 6px 6px 0px 2px var(--grey-shadow);
    position: relative;
    margin-bottom: 20px;
    transition: all 3s ease-in;

    .title {
        font-family: Raleway;
        font-weight: 700;
        font-size: 28px;
        color: var(--grey10-color);
        margin-bottom: 20px;
    }

    .desc {
        font-family: Outfit;
        font-weight: 500;
        font-size: 20px;
        color: var(--grey30-color);
    }

    .icon {
        width: 74px;
        height: 74px;
        border-radius: 12px;
        border: 2px solid var(--grey15-color);
        padding: 20px;
        background-color: var(--orange90-color);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -10%;
    }
}

.benefits-card:hover {
    box-shadow: 20px 5px 8px var(--orange65-color);
}

/* responsive */
@media (max-width:1919px) {
    .benefits-card {
        width: 400px;
        height: 322px;
        border-radius: 10px;
        padding: 60px 40px 40px 40px;
        box-shadow: 4px 4px 0px 2px var(--grey-shadow);

        .title {
            font-size: 24px;
            margin-bottom: 16px;
        }

        .desc {
            font-size: 16px;
        }

        .icon {
            width: 56px;
            height: 56px;
            border-radius: 8px;
            padding: 16px;
        }
    }
}

@media (max-width:768px) {
    .benefits-card {
        width: 358px;
        padding: 50px 40px 30px 30px;
        box-shadow: 4px 4px 0px 1px var(--grey-shadow);

        .title {
            font-size: 22px;
        }
    }

}